    body {
        display: flex;
        height: 100svh;
        align-items: center;
        background-size: cover;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .esquinas {
        border-radius: 0px;
    }

    .fondo-general {
        background-color: rgba(235, 221, 174, 0.068);
        background-image: url("img/1977165-01.png");
        background-attachment: fixed;
        mix-blend-mode:normal;
    }

    .muevete-arriba {
        transform: translate(0 , -45px);
    }

    .bg-blur {
        background-color: #1d2046;
    }

    .titulo-raro {
        line-height: 0.6;
        font-size: calc(28px + 0.390625vw);
    }


    @media (max-width: 767px)  {
        .titulo-raro {
         line-height: 0.6;
         font-size: calc(22px + 0.390625vw);
        }
    }