:root {
    --font-family-sans-serif: "Poppins", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-family: 'Roboto', sans-serif;
    --font-family: 'Lato', sans-serif;
    --font-family: 'Kristi', cursive;
    --font-family: 'Roboto Condensed', sans-serif;
    --g1: #416BBB;
    --g2: #23427E;
    --g3: #041840;
}

    body {
        max-height: 120svh;
    }

    .esquinas {
        border-radius: 0px;
    }

    .fondo-general {
        background-image: url("img/tex-02.png");
        background-attachment: fixed;
        mix-blend-mode:normal;
    }

    .muevete-arriba {
        transform: translate(0 , -45px);
    }

    .bg-blur {
        background-color: #1d2046;
    }

    .titulo-raro {
        line-height: 0.6;
        font-size: calc(28px + 0.390625vw);
    }

    .alto {
        min-height: 40vh;
    }

    .container .nav .nav-link {
        background-color: rgba(187, 187, 187, 0.342);
        color: rgb(175, 175, 175);
        margin-left: 0px;
        margin-right: 0px;
          }

    .container .nav .nav-item .active {
        background-color: #e1a556;
        color: rgb(243, 243, 243);
    }

/*     .container button {
        border: none;
        background-color: #e1a556;
        color: rgb(243, 243, 243);
    }
 */

    .container .btn-primary {
        border: none;
        background-color: #e1a556;
        color: rgb(29, 29, 29);
        border-radius: 5px;
    }


    .container .btn-primary:hover,
    .container .btn-primary:focus-visible {
        border: none;
        background-color: #946e3c;
        color: rgb(243, 243, 243);
    }


    .container .btn-secondary {
        border: none;
        background-color: #94979c;
        color: rgb(29, 29, 29);
        border-radius: 5px;
    }


    .container .btn-secondary:hover,
    .container .btn-secondary:focus-visible {
        border: none;
        background-color:#404349;
        color: rgb(243, 243, 243);
    }
    



/* EN ESTA LINEA FUNDARE MI ONHOVER
 */



    .container .card-img-top {
        background-color: #5692e1;
        object-fit: cover;
        height: 15vh;
        margin-top: 1em;
        border-radius: 10px;
    }

    .container .card-body {
        background-color: #eeeeee;
        color:#041840;
        margin-top: 1em;
        margin-bottom: 1em;
    }    

    .iconos-responsivos {
        max-height: 120px;
    }

    .menu-animacion {
        cursor: pointer;
        transition: transform 800ms;
    }

    .menu-animacion:hover,
    .menu-animacion:focus-visible {
        transform: translateY(-0.75rem);
        transition: transform 250ms;
    }



    /* COMIENZAN ANIMACIONES DE CARDS DE CAPACITACIONES */


    .anima-capacita {
        cursor: pointer;
        background-color: rgb(192, 35, 29);
        opacity: 1;
        transition: background-color ease-out 1500ms,
                    opacity ease-in-out 1200ms;
    }

    .anima-capacita:hover {
        background-color: #041840;
        opacity: 1;
    }


`0


    .card__animada {
        cursor: pointer;
        position: relative;
        background: $clr-gray;
    }
        .card__animada::before, 
        .card__animada::after {
          content: '';
          position: absolute;
          top: 4.5em;
          bottom: 4.5em;
          right: 2.5em;
          left: 2.5em;
          opacity: 1;
          border-radius: 10px;
          
        }
        
        .card__animada::before {
          /* border-top: 1px solid white;
          border-bottom: 1px solid white;
          transform: scale(0,1); */
          background:#041840;
          opacity: 0;
          transform: scale(0);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.644);
          transition: transform ease-in-out 1000ms,
                      opacity ease-in-out 550ms;
        }
        
        .card__animada::after {
          /* border-left: 1px solid white;
          border-right: 1px solid white; */
          opacity: 1;
          transform: scale(1,1);
        }
        
        .card__animada:hover::before {
          opacity: 0.9;
          transform: scale(1, 1);
          transition: transform ease-in-out 300ms;
        }
        
        .card__animada:hover::after {
            opacity: 1;
          transform: scale(1, 1);
        }
      

        .descole {
            isolation: isolate;
        }




        .card__text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            opacity: 0;
            transition: opacity ease-out 250ms;
       }
        .card:hover .card__text {
            opacity: 1;
       }
        .card__title {
            font-size: 2rem;
            color: white;
            margin-bottom: 0;
       }
        .source {
            opacity: 0.8;
            position: absolute;
            width: 100%;
            bottom: 1em;
       }
        



    /* COMIENZAN ANIMACIONES DE CARDS DE CAPACITACIONES */




    .navbar {
        background-image: radial-gradient(farthest-corner at 40px 40px, #e1a556, #E9BC45);
/*         background-image: linear-gradient(to left, #e1a556, #dbbd96af, #E9BC45);
 */    }

    .container .card-body h4 {
        font-size: calc(17px + 0.390625vw);  
    }

    .logo-responsivo {
        height: 6vh;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
    }

    .card-text {
        line-height: 0.8;
        font-size: calc(10px + 0.390625vw);
    }


    .progress .progress-bar {
        background-color:#e1a556;
        color:#041840;
    }

/*     .container .btn {
        font-size: calc(7px + 0.390625vw);
    } */


    @media (max-width: 767px)  {
        .titulo-raro {
         line-height: 0.6;
         font-size: calc(22px + 0.390625vw);
        }

        .alto {
            min-height: 90vh;
        }

        body {        
            max-height: 150svh;
        }

        .iconos-responsivos {
            max-height: 60px;
        }
        .logo-responsivo {
            height: 5vh;
            justify-content: center;
            align-items: center;
            margin-top: auto;
            margin-bottom: auto;
        }
        .container .nav .nav-link {
            background-color: rgba(187, 187, 187, 0.342);
            color: rgb(175, 175, 175);
            margin-left: 0em;
            margin-right: 0em;
              }
        .container .card-img-top {
          background-color: #e1a556;
          object-fit: cover;
          height: 25vh;
          margin-top: 1em;
          border-radius: 10px;
      }
      .container .card-img-top {
        background-color: #e156a2;
        object-fit: cover;
        height: 30vh;
        margin-top: 1em;
        border-radius: 10px;
    }
    

    }

    @media only screen and (min-width: 768px) and (max-width: 999px)  {
        .alto {
            min-height: 400px;
        }
        .container .card-img-top {
            background-color: #e1a556;
            object-fit: cover;
            height: 15vh;
            margin-top: 1em;
            border-radius: 10px;
        }
        .container .card-img-top {
            background-color: #e156a2;
            object-fit: cover;
            height: 10vh;
            margin-top: 1em;
            border-radius: 10px;
        }
    }

