:root {
    --font-family-sans-serif: "Poppins", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-family: 'Roboto', sans-serif;
    --font-family: 'Lato', sans-serif;
    --font-family: 'Kristi', cursive;
    --font-family: 'Roboto Condensed', sans-serif;
    --g1: #416BBB;
    --g2: #23427E;
    --g3: #041840;
}

    body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .esquinas {
        border-radius: 0px;
    }

    .fondo-general {
        background-image: url("img/UNT-1-02-02.png");
        background-attachment: fixed;
        mix-blend-mode:normal;
        height: 100%;
    }

    .muevete-arriba {
        transform: translate(0 , -45px);
    }

    .bg-blur {
        background-color: #1d2046;
    }

    .titulo-raro {
        line-height: 0.6;
        font-size: calc(28px + 0.390625vw);
    }

    .alto {
        min-height: 40vh;
    }

/*     .item-1 {
        margin-top: 10svh;
        margin-bottom: 10svh;
    } */

    .container .nav .nav-link {
        background-color: rgba(187, 187, 187, 0.342);
        color: rgb(175, 175, 175);
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 8svh;
        line-height: 1.1;
        
        text-align: center;
          }


    .nav {
        width: 82svw;
    }

    .container .nav .nav-item .active {
        background-image: linear-gradient(65deg, #E9BC45, #E9BC45);
        color: rgb(243, 243, 243);

        
    }

    .container .btn-primary {
        border: none;
        background-image: linear-gradient(65deg, #E9BC45, #E9BC45);
        color: rgb(29, 29, 29);
        border-radius: 5px;
    }


    .container .btn-primary:hover,
    .container .btn-primary:focus-visible {
        border: none;
        background-image: linear-gradient(65deg, #cca63c, #c9a33b);
        color: rgb(243, 243, 243);
    }


    .container .btn-secondary {
        border: none;
        background-color: #94979c;
        color: rgb(29, 29, 29);
        border-radius: 5px;
    }


    .container .btn-secondary:hover,
    .container .btn-secondary:focus-visible {
        border: none;
        background-color:#404349;
        color: rgb(243, 243, 243);
    }
    

    .flex-container .nav .nav-link {
        background-color: rgba(187, 187, 187, 0.342);
        color: rgb(175, 175, 175);
        margin: 0.15em;
        
        }

    .flex-container .nav .nav-item .active {
        background-color: #e1a556;
        color: rgb(243, 243, 243);
        
    }

    .flex-container .btn-primary {
        border: none;
        background-color: #e1a556;
        color: rgb(29, 29, 29);
        border-radius: 5px;
    }


    .flex-container .btn-primary:hover,
    .flex-container .btn-primary:focus-visible {
        border: none;
        background-color: #946e3c;
        color: rgb(243, 243, 243);
    }


    .flex-container .btn-secondary {
        border: none;
        background-color: #94979c;
        color: rgb(29, 29, 29);
        border-radius: 5px;
    }


    .flex-container .btn-secondary:hover,
    .flex-container .btn-secondary:focus-visible {
        border: none;
        background-color:#404349;
        color: rgb(243, 243, 243);
    }


    .container .card-img-top {

        object-fit: cover;
        height: 15vh;
        margin-top: 1em;
        border-radius: 15px 15px 0px 0px;
    }

    .container .card-body {
        background-color: #c7c7c7;
        color:#041840;
        margin-top: 1em;
        margin-bottom: 1em;
        border-radius: 0px 0px 15px 15px;
    }    

    .iconos-responsivos {
        max-height: 22svh;
    }

    .menu-animacion {
        cursor: pointer;
        transition: transform 800ms;
    }

    .menu-animacion:hover,
    .menu-animacion:focus-visible {
        transform: translateY(-0.75rem);
        transition: transform 250ms;
    }

/*     .card, .card-body, .card__animada {
        background-color: transparent;
    } */


        .card__animada {
            cursor: pointer;
        }

        .card__animada::before{
          content: '';
          position: absolute;
          top: 1.5em;
          bottom: 1.5em;
          right: 1.5em;
          left: 1.5em;
          border-radius: 10px;
        }
        
        .card__animada::before {
          /* border-top: 1px solid white;
          border-bottom: 1px solid white;
          transform: scale(0,1); */
          background:#e9e9e9;
          opacity: 0;
          transform: scale(0);
          box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.884);

          transition: transform ease-in-out 300ms,
                      opacity ease-in-out 200ms;
        }
        
        .card__animada::after {
          /* border-left: 1px solid white;
          border-right: 1px solid white; */
          opacity: 1;
          transform: scale(1,1);

          
        }
        
        .card__animada:hover::before {
          opacity: 0.95;
          transform: scale(1, 1);
          transition: transform ease-in-out 300ms,

          
        }
        
        .card__animada:hover::after {
            opacity: 1;
          transform: scale(1, 1);
        }
      

        .titulo-especial {
            font-size: calc(10px + 0.390625vw);
            font-weight: 700;
            line-height:normal;
        }

        .parrafo-especial {
            font-size: calc(8px + 0.390625vw);
            line-height:0.7;
        }

        .card__text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #201c42;
            opacity: 0;
            transition: 
            opacity ease-out 500ms;
       }
        .card:hover .card__text {
            opacity: 1;
       }
        .card__title {
            font-size: 2em;
            color: white;
            margin-bottom: 0;
       }
/* 
       .card {
            width: 100svw;
       } */


        
    .navbar {
/*         background-image: radial-gradient(farthest-corner at 40px 40px, #e1a556, #E9BC45);
 */        background-image: linear-gradient(15deg, #E9BC45, #E9BC45);
    }

    .container .card-body h4 {
        font-size: calc(17px + 0.390625vw);  
    }

    .logo-responsivo {
        height: 6vh;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
    }

    .card-text {
        line-height: 0.8;
        font-size: calc(10px + 0.390625vw);
    }


    .progress .progress-bar {
        background-color:#E9BC45;
        color:#041840;
    }

    .no-clicky {
        pointer-events: none;
    }

    .yes-clicky {
        pointer-events: all;
    }

    .contenedor-video {
        min-height: 70svh;
        max-height: 80svh;
        min-width: auto;
    }

    .centrado {
        display: flex;
        justify-content: center;
    }

    .item {
        width: 250px;
        height: 50%;
        padding: 1em;
        font-weight: 700;
        text-align: center;
        border-radius: 5px;
      }

    .cosa {
        display: flex;
        height: max-content;
        min-width: 60svw;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

    }


      .flex-container {
        display: flex;
        flex-direction: row;
        width: 80%;
        min-height: 80svh;
        margin-left: auto;
        margin-right: auto;
        justify-content:space-evenly;
        align-items: center;
        gap: 0.5em;
      }

      .rapper {
        display: flex;
        flex-direction: column;
        min-height: 20em;
        justify-content: center;
      }

      .inner-rapper {
        display: flex;
        flex-direction: column;
        min-height: 20em;
        justify-content: center;
      }

      .rappervid {
        display: flex;
        flex-direction: column;
        min-height: 20em;
        justify-content: center;
      }

      .inner-rappervid {
        display: flex;
        flex-direction: column;
        min-height: 20em;
        justify-content: center;
      }



      .anima-capacita {
        cursor: pointer;
        opacity: 1;
        transition: opacity ease-out 250ms;
    }

    .anima-capacita:hover {
        opacity: 0.2;
    }


    




/* ancor */






/*     .modal .btn-primary {
        border: none;
        background-color: #e1a556;
        color: rgb(29, 29, 29);
        border-radius: 5px;
    } */


    .modal .btn-primary:hover,
    .modal .btn-primary:focus-visible,
    .modal .btn-secondary:active {
        border: none;
        background-color: #946e3c;
        color: rgb(243, 243, 243);
    }


    .modal .btn-secondary {
        border: none;
        background-color: #94979c;
        color: rgb(29, 29, 29);
        border-radius: 5px;
    }


    .modal .btn-secondary:hover,
    .modal .btn-secondary:focus-visible,
    .modal .btn-secondary:active {
        border: none;
        background-color:#404349;
        color: rgb(243, 243, 243);
    }
    

/*     .nav .nav-link {
        color: #c300ff;
    } */

/*     .page-link {
        text-decoration: none;
        color: #e156a2;
    } */

    .page-item .page-link {
        color: #946e3c;
    }

    .page-item .page-link:hover,
    .page-item .page-link:focus-visible,
    .page-item .page-link:active {
        color: #e1a556;
    }

    .color-fondo {
        object-fit: cover;
        /* background-image:radial-gradient(at right 10%,  #2d4076, #457aa1 , #596983 , #323c4a, #2d4076); */
        background-image:radial-gradient(at right 10%,  #374058, #32424e , #3b414b , #415672, #3e4353);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .color-fondo2 {
        object-fit: cover;
        background-image:radial-gradient(at right 10%,  #374058, #32424e , #3b414b , #415672, #3e4353);
        box-shadow: inset rgba(18, 18, 26, 0.452) 0px 13px 27px -5px, rgba(0, 0, 0, 0.349) 0px 8px 16px -8px;
    }

    /* url("/img/TEST-01.png"),  */

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .barra-titulo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .card-home {
        display: flex;
        flex-direction: column;/* 
        min-width: 20svw; */
        background-image: radial-gradient(at right 10%, #59698311 ,#2d407611, #457ba111, #323c4a1e, #2d407625);
        margin-left: 0px;
        margin-right: 0px;
    }

    .fondo-headers {
        background-image: radial-gradient(at right 40%, #565f6d1e ,#5b61701c, #53616b25, #5c657231, #575c6b33);
    }

    .card-deck {
        margin-bottom: 2svh;
        width: 75svw;
    }


    .titulos-cards {
        font-size: 1.5rem;
    }

    .textos-aids {
        font-size: 1.1rem;
        padding-right: 0.8svw;
        padding-left: 0.8svw;
        color: #ececec;
    }

    .tab-pane {
        width: 80svw;
        margin-block: auto;
    }

    
    .container .nav .nav-item .active {
        color: #323c4a;
    }

    a:link {
        text-decoration: none;

  }
  
  a:visited {
        text-decoration: none;

  }
  
  a:hover {
        text-decoration: none;

  }
  
  a:active {
        text-decoration: none;

  }

  .btn, .btn-primary {
    background-image: linear-gradient(15deg, #E9BC45, #ddb138);
    pointer-events: all; 
    text-decoration: none; 
    color: #201c42;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    line-height: 1.2;
    border: none;
  }

  .btnsec, .btn-secondary {
    background-image: linear-gradient(15deg, #979797, #7a7a7a);
    pointer-events: all; 
    text-decoration: none; 
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    line-height: 1.2;
    border: none;
  }

  .boton-inner {
    background-image: linear-gradient(15deg, #E9BC45, #ddb138);
    pointer-events: all; 
    text-decoration: none; 
    color: #201c42;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    line-height: 1.2;
    border: none;
  }

  .boton-inner2 {
    background-image: linear-gradient(15deg, #616285, #545466);
    pointer-events: all; 
    text-decoration: none; 
    color: #ffffff;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    line-height: 1.2;
  }

  .btnsec:hover, .btn-secondary:hover,
  .btnsec:active, .btn-secondary:active {
    text-decoration: none;
    background-image: linear-gradient(15deg, #b9b9b9, #a0a0a0);
    color: #201c42;
    font-weight: 700;
  }


  .btn:hover, .btn-primary:hover
  .btn:active, .btn:active:hover {
    text-decoration: none;
    background-image: linear-gradient(15deg, #d6ae40, #c9a032);
    color: #201c42;
    font-weight: 700;
  }

  .boton-inner:hover,
  .boton-inner:active {
    text-decoration: none;
    background-image: linear-gradient(15deg, #d6ae40, #c9a032);
    color: #201c42;
    font-weight: 700;
  }

  .boton-inner2:hover,
  .boton-inner2:active {
    text-decoration: none;
    background-image: linear-gradient(15deg, #3f4070, #30315f);
    color: #ffffff;
    font-weight: 700;
  }
      

/*     table, .table, .table-responsive {
        width: 100svw;
    } */

/*     @media (max-width: 375px) {
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: fit-content;
        }
    } */

/*     .colorjudo {
        background-color:#e70a0a;
        border: none;
    }
 */

    @media (max-width: 767px)  {
        .titulo-raro {
         line-height: 0.6;
         font-size: calc(22px + 0.390625vw);
        }

        a:link {
            text-decoration: none;
            color: inherit;
      }
      
      a:visited {
            text-decoration: none;
            color: inherit;
      }
      
      a:hover {
            text-decoration: none;
            color: inherit;
      }
      
      a:active {
            text-decoration: none;
            color: inherit;
      }
    

        .container .nav .nav-link {
            background-color: rgba(187, 187, 187, 0.342);
            color: rgb(175, 175, 175);
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 4.5svh;
            line-height: 1.1;
            
            text-align: center;
              }

        .textos-aids {
            font-size: 1rem;
            padding-right: 7svw;
            padding-left: 7svw;
        }

        .card-deck {
            margin-bottom: 2svh;
            width: 100svw;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 95svh;
        }

        .barra-titulo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
        }

        .alto {
            min-height: auto;
        }

        body {        
            max-height: auto;
        }

        .iconos-responsivos {
            max-height: 60px;
        }
        .logo-responsivo {
            height: 5vh;
            justify-content: center;
            align-items: center;
            margin-top: auto;
            margin-bottom: auto;
        }
        .container .nav .nav-link {
            background-color: rgba(187, 187, 187, 0.342);
            color: rgb(175, 175, 175);
            margin-left: 0em;
            margin-right: 0em;
              }
        .container .card-img-top {

          object-fit: cover;
          height: 25vh;
          margin-top: 1em;
          border-radius: 15px 15px 0px 0px;
      }
      .container .card-img-top {

        object-fit: cover;
        height: 30vh;
        margin-top: 1em;
        border-radius: 15px 15px 0px 0px;
    }
    .card__animada::before{
        content: '';
        position: absolute;
        top: 1.5em;
        bottom: 1.5em;
        right: 1.5em;
        left: 1.5em;
        border-radius: 10px;

        
      }
      .titulo-especial {
        font-size: calc(15px + 0.390625vw);
        font-weight: 700;
        line-height:normal;
    }

    .parrafo-especial {
        font-size: calc(12px + 0.390625vw);
        line-height:0.7;
    }

    .contenedor-video {
        min-height: 50svh;
        max-height: 50svh;
        min-width: auto;
    }
    

    .flex-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        min-height: auto;
        margin-left: auto;
        margin-right: auto;
        justify-content:space-evenly;
        align-items: center;
        gap: 0em;
      }

      .item {
        width: 90%;
        height: 85%;
        padding: 1em;
        font-weight: 700;
        text-align: center;
        border-radius: 5px;
        margin-top: auto;
        margin-bottom: auto;
      }


      .rapper {
        display: flex;
        flex-direction: column;
        min-height:fit-content;
        justify-content: center;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }

      .inner-rapper {
        display: flex;
        flex-direction: column;
        min-height:fit-content;
        justify-content: center;
        margin-top: 0.25em;
        margin-bottom: 0.25em;
      }

      .rappervid {
        display: flex;
        flex-direction: column;
        max-height:fit-content;
        justify-content: center;
        margin-top: 0.25em;
        margin-bottom: 0.25em;
      }

      .inner-rappervid {
        display: flex;
        flex-direction: column;
        max-height:fit-content;
        justify-content: center;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
      .flex-container .nav .nav-link {
        background-color: rgba(187, 187, 187, 0.342);
        color: rgb(175, 175, 175);
        margin: 0em;
          }

          .cosa {
            display: flex;
            min-width: 80svw;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            aspect-ratio: 16/9;
    
        }

    }


    @media only screen and (min-width: 951px) and (max-width: 1280px) {
        .card-deck {
            margin-bottom: 2svh;
            width: 95svw;
        }
        .textos-aids {
            font-size: 1rem;
            padding-right: 0.5svw;
            padding-left: 0.5svw;
        }
        
        .container .nav .nav-item .active {
            color: #323c4a;
        }
        
    }



    @media only screen and (min-width: 768px) and (max-width: 950px)  {
        .alto {
            min-height: 400px;
        }

        .container .nav .nav-link {
            background-color: rgba(187, 187, 187, 0.342);
            color: rgb(175, 175, 175);
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 5svh;
            line-height: 1.1;
            
            text-align: left;
              }

        .container .nav .nav-item .active {
            color: #323c4a;
        }
        
        .textos-aids {
            font-size: 1.4rem;
            
        }

        
        .card-deck {
            margin-bottom: 2svh;
            width: 100svw;
        }
          
        
        .card-home {
            display: flex;
            flex-direction: column;/* 
            min-width: 40svw; */
    }
        .iconos-responsivos {
            max-height: 12svh;
        }
        .container .card-img-top {

            object-fit: cover;
            height: 15vh;
            margin-top: 1em;
            border-radius: 15px 15px 0px 0px;
        }
        .container .card-img-top {

            object-fit: cover;
            height: 10vh;
            margin-top: 1em;
            border-radius: 15px 15px 0px 0px;
        }
        .card__animada::before{
            content: '';
            position: absolute;
            top: 1.5em;
            bottom: 1.5em;
            right: 1.5em;
            left: 1.5em;
            border-radius: 10px;
          }

          .titulo-especial {
            font-size: calc(12px + 0.390625vw);
            font-weight: 700;
            line-height:0.8;
        }
    
        .parrafo-especial {
            font-size: calc(9px + 0.390625vw);
            line-height:0.7;
        }
        .contenedor-video {
            min-height: 40svh;
            min-width: 60svw;
        }

        .flex-container {
            display: flex;
            flex-direction: column;
            width: 90%;
            min-height: 85svh;
            margin-left: auto;
            margin-right: auto;
            justify-content:center;
            align-items: center;
            gap: 0em;
          }

          
        .rapper {
            display: flex;
            flex-direction: column;
            min-height:fit-content;
            align-items: center;
            justify-content: center;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            
        }

        .inner-rapper {
            display: flex;
            flex-direction: column;
            min-height:fit-content;
            align-items: center;
            justify-content: center;
            margin-top: 0.25em;
            margin-bottom: 0.25em;
        }

        .rappervid {
            display: flex;
            flex-direction: column;
            max-height:fit-content;
            align-items: center;
            justify-content: center;
            margin-top: 0.25em;
            margin-bottom: 0.25em;
        }

        .inner-rappervid {
            display: flex;
            flex-direction: column;
            max-height:fit-content;
            align-items: center;
            justify-content: center;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }


        .flex-container .nav .nav-link {
            background-color: rgba(187, 187, 187, 0.342);
            color: rgb(175, 175, 175);
            min-width: 60svw;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
              }



    
        .flex-container .nav .nav-item .active {
            background-color: #e1a556;
            color: rgb(243, 243, 243);
            justify-content: center;
            min-width: 60svw;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
        }

        .cosa {
            display: flex;
            min-width: 70svw;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
    
        }


    }

